.AdminOrderTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.AdminOrderTable tr:nth-child(even) {
  background-color: var(--lightGray);
}

.AdminOrderTable td,
.AdminOrderTable th {
  padding: 2px 5px;
}

.AdminOrderTable tr:hover {
  background-color: lightgray;
}
