/* Виджет с категориями */

.collections {
  display: flex;
  gap: 40px;
  padding: 40px;

  text-align: center;
  color: var(--textDark);

  overflow-x: auto;
}

.collectionCard {
  min-width: 250px;
  height: 250px;
}
