.main {
  display: grid;
  row-gap: 60px;
  column-gap: 40px;
  grid-template-columns: 1fr 4fr;
  margin: 40px 0;
}

.main img {
  width: 100%;
}

/* Первый виджет на главной */

.promoWidget {
  /* border: 1px solid black; */
  background-color: #e5ebff;
  color: rgb(45, 45, 45);
}

.promoWidget h1 {
  margin: 0;
}

.promoWidget span {
  color: rgb(150, 150, 150);
}

.promoWidget__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

/* Виджет с категориями */

.collections {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.collectionCard {
  width: 250px;
  height: 250px;
}

/* Два красивых постера */

.banners {
  display: flex;
  gap: 50px;
}

/* Постеры про преимущества */

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e5ebff;
  height: 200px;
}

.benefits img {
  margin: auto;
  height: 75px;
  width: 75px;
}

.benefitsCard {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  font-size: 17px;
}

/* Видео */

.video > video {
  width: 100%;
}
