/* Оформление карточки */

.horizontalCard {
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  border-bottom-color: rgb(237, 237, 237);
  padding: 20px 0;
}

.descr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.descr h2 {
  margin: 0;
  font-weight: 500;
}

.descr img {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  grid-row: span 3;
  object-fit: contain;
  cursor: pointer;
}

.cardActions {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}

.cardActions button {
  background-color: white;
  width: fit-content;
  font-size: 16px;
  font-weight: normal;
  color: rgb(150, 150, 150);
  padding: 0;
  gap: 5px;
}

.cardActions button:hover {
  background-color: white;
}

.cardActions .addToFavorites {
  color: rgb(113, 136, 212);
}

.cardActions .addToFavorites:hover span {
  color: red;
}

.cardActions button span {
  font-size: 20px;
}

.secondDescription {
  text-align: right;
}

.controller {
  display: flex;
  background-color: rgb(237, 237, 237);
  padding: 2px;
  border-radius: 6px;
  margin: 20px 0;
}

.controller input {
  width: 50px;
  background: inherit;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.controller button {
  background-color: white;
  width: 30px;
  height: 30px;
  color: black;
}

.controller button:hover {
  background-color: rgb(237, 237, 237);
}

.controller button span {
  padding: 0;
}

.price {
  font-weight: 500;
  font-size: 24px;
}
