/* Фиолетовая полоса */
.purpleLine {
  background-color: var(--lightPurple);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  height: 43px;
  max-width: 1470px;
  margin: auto;
}

.headerContent ul {
  display: flex;
  gap: 20px;
  width: 100%;
  list-style: none;
  cursor: pointer;
  padding-left: 0;
}

.headerContent p {
  min-width: fit-content;
  color: #969696;
}

.headerContent a {
  min-width: fit-content;
  color: black;
}

/* Часть с поисковиком */
.secondLine {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  max-width: 1470px;
  height: 50px;
  margin: 20px auto;
  margin-bottom: 50px;
}

.logo img {
  height: 90%;
}

.secondLine > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-right: 30px;
}

/* Стилизация инпута */
.search {
  display: flex;
  flex: 7;
}

.search input {
  width: calc(100% - 50px);

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;

  color: rgb(45, 45, 45);

  border: 1px solid rgb(128, 128, 128);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 7px;
  height: 50px;
  box-sizing: border-box;
}

.search input::placeholder {
  color: #dde0e8;
}

.search input:focus {
  outline: none;
  border-color: rgb(204, 204, 204);
}

.search button {
  width: 50px;
  height: 50px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
}

/* Панелька с кнопками */
.controlPannel {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.controlPannel a {
  display: flex;
  align-items: center;
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.controlPannel span {
  font-family: PT Root UI;
  font-size: 18px;
  color: #7188d4;
  font-weight: 600;
  margin-left: 10px;
}
