.editImg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row: span 10;
}

.editImg img {
  width: 100%;
}

.editImg input {
  height: 20px;
  border: 1px solid #cccccc;
}

.editImg button {
  height: 30px;
}

.buttonsPanel {
  display: flex;
  gap: 10px;
}

.buttonsPanel button {
  width: fit-content;
}

.deleteButton {
  background-color: red;
}
