.productLayout {
  display: grid;
  grid-template-columns: auto 1fr;
}

.productCard {
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 30px;
  padding-top: 40px;
}

.productCard img {
  width: 100%;
}

.leftColumn {
  grid-row: span 10;
}

.productCard h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.productCard input[name='name'] {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productCard input[name='price'] {
  width: 30%;
  font-size: 32px;
  color: black;
}

.currency {
  display: inline;
  vertical-align: middle;
  margin: 0;
  font-size: 32px;
}

/* Стили для блока характеристик  */

.specifications {
  position: relative;
  display: grid;
  row-gap: 20px;
  background-color: rgb(247, 247, 247);
  padding: 20px 32px;
  margin-top: 20px;
}

.specifications h4 {
  grid-column: span 2;
  margin: 0;
}

.specifications input {
  border: none;
  background-color: transparent;
  width: 90%;
  font-size: 16px;
}

.specifications button:has(span[class='icon-plus']) {
  position: absolute;
  right: 20px;
  top: 20px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.parameter {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: 23px;
  grid-template-areas: 'text removeButton';
}

.parameter button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 79, 79);
  grid-row: span 2;
  grid-area: removeButton;
  margin-top: 10px;
}

.parameter button:hover {
  background-color: red;
}
