.adminConsole {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

.orders,
.users,
.products {
  border: 1px solid green;
  border-radius: 14px;
  padding: 20px;
}

.products {
  grid-column: span 2;
}

.addProduct {
  float: right;
  border-radius: 50%;
  background-color: var(--lightGray);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  width: 40px;
  height: 40px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
  text-align: center;
}

.productItem {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.productItem img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

.productItem input[id='stock'] {
  width: 90%;
  height: 10px;
  text-align: center;
}

.productItem button[id='deleteButton'] {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.save {
  margin-top: 10px;
  width: 100%;
  height: 30px;
}
