.product {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 10px 1fr;
  gap: 20px;
}

.productCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  /* border: 1px solid black; */
  padding-top: 40px;
}

.productInfo {
  padding-top: 60px;
}

.productInfo h2 {
  margin: 0;
}

.price {
  font-size: 32px;
  margin: 10px 0;
}

.description {
  font-size: 18px;
  color: rgb(45, 45, 45);
}

.description span:first-of-type {
  display: inline-block;
  padding-top: 20px;
}

.feedback {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: 10px 10px 10px 1fr;
  align-items: center;

  gap: 15px;

  padding: 15px;

  background-color: rgb(229, 235, 255);

  margin-bottom: 20px;
  border-radius: 4px;
}

.feedback p,
.feedback h4 {
  margin: 0;
}

.feedback img {
  grid-row: span 3;
  margin: auto;
  height: 60px;
}

.userName {
  grid-row: span 3;
  text-align: end;
  min-height: 70px;
}

.feedbackText {
  grid-column: span 3;
}

.specifications {
  display: grid;
  row-gap: 20px;
  background-color: rgb(247, 247, 247);
  padding: 20px 32px;
  margin: 20px 0;
}

.specifications h4 {
  grid-column: span 2;
  margin: 0;
}

.spec p {
  margin: 0;
}

.spec p:first-of-type {
  font-size: 14px;
  color: rgb(150, 150, 150);
}
