.productLayout {
  display: grid;
  grid-template-columns: auto 1fr;
}

.productCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  padding-top: 40px;
}

.productCard > img {
  width: 100%;
  grid-row: span 10;
}

.price {
  font-size: 32px;
  margin: 10px 0;
}

.productCard h4 {
  font-size: 20px;
}

.editLink > * {
  width: max-content;
}
