/* Модальное окно */
.modalWindow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  background-color: #eee;

  padding: 20px;
  border-radius: 20px;

  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  row-gap: 5px;

  font-size: 18px;
}

.modalContent label,
.modalContent h2 {
  grid-column: span 3;
}

.modalContent input {
  grid-column: span 3;
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
}

.modalContent .defaultButton {
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
}

.modalContent .redButton {
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  background-color: red;
}

.modalContent button[datatype='close'] {
  position: absolute;
  right: 0px;
  top: 0;

  width: 30px;
  height: 30px;
  border-radius: 0;
  padding: 0;
}
