.promoWidget {
  /* border: 1px solid black; */
  background-color: #e5ebff;
  color: rgb(45, 45, 45);
}

.promoWidget h1 {
  margin: 0;
}

.promoWidget span {
  color: rgb(150, 150, 150);
}

.promoWidget__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
