.SideMenu {
  width: 230px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-row: span 6;
}

.SideMenu > nav {
  display: flex;
  flex-direction: column;
}

.SideMenu .navLink {
  font-size: 16px;
  padding: 12px 0;
  color: rgb(45, 45, 45);
  text-decoration: none;
  border-bottom: 1px solid #f7f7f7;
}

.SideMenu h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}
