@import url('./Fonts/stylesheet.css');
@import url('./Icons/style.css');

:root {
  --lightPurple: #e5ebff;
}

body {
  margin: 0;
  padding: 0;
  font-family: PT Root UI;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 130px;
  height: 50px;
  padding: 0 16px;

  font-family: inherit;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  background-color: #7188d4;
  transition: background-color 0.1s linear;
}

button:hover {
  background-color: #7891e0;
}

a {
  text-decoration: none;
}
