.main {
  display: grid;
  row-gap: 60px;
  column-gap: 40px;
  grid-template-columns: 230px 1fr;
}

.main img {
  width: 100%;
}

.video {
  width: 100%;
}

@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 770px) {
  .main {
    margin-block: 40px;
  }

  /* Выбор всего кроме сайдбара */
  .main > div:not(div:first-of-type) {
    display: flex;
    flex-direction: column;
  }
}
